<section class="section-404">
  <div class="page-width">
    <div class="error-404-content">
      <h1>{{ 'templates.404.title' | t }}</h1>
      <p>{{ 'templates.404.subtext' | t }}</p>
      <a href="{{ routes.root_url }}" class="button">
        {{ 'general.continue_shopping' | t | default: 'Continue shopping' }}
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "404 Page",
  "tag": "section",
  "class": "section-404",
  "settings": []
}
{% endschema %}
